.main {
    background-image: url("https://slh-prod-content.azureedge.net/-/media/slh/destinations/staging/countries/s/egypt-country-s.ashx?h=1173&w=660&usecustomfunctions=1&centercrop=1&rev=b83963537f994fe5b701e2ace087e0e5&hash=787C25AB73BC8847DDD3E00477320E81");
    height: 100%;
}

.backImg {
    background-image: url("https://www.textures.com/system/gallery/photos/Ornaments/Egyptian/86169/OrnamentsEgyptian0016_270.jpg");
}

.form-check {
    background-image: url("https://www.textures.com/system/gallery/photos/Ornaments/Egyptian/86169/OrnamentsEgyptian0016_270.jpg");
}

.form-control {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e0fd3665-051c-4974-9078-366829583265/d4ll4au-9979f44b-d757-4bbd-8b2b-08a1d27dbff7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTBmZDM2NjUtMDUxYy00OTc0LTkwNzgtMzY2ODI5NTgzMjY1XC9kNGxsNGF1LTk5NzlmNDRiLWQ3NTctNGJiZC04YjJiLTA4YTFkMjdkYmZmNy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.TrLkcMw5O6-2wTTzPqC1LxN1FraNXZZizgsBgFWmfpQ);
}