@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

#widget {
	background: transparent;
}

textarea.papiro {
    font-family: 'Dancing Script', cursive;
    border: transparent solid 0px;
    font-size: 18px;
}

.papiro:focus {
	box-shadow: none !important;
}
