.sfondo {
	composes: sfondo from './style.module.css';
	background-image: url('./pictures/EgyptBackground.jpg');
}

.backMedia {
	composes: backMedia from './style.module.css';
	background-image: url('./pictures/EgyptBackground2.jpg');
}

.immagine {
	composes: immagine from './style.module.css';
}

.bottone {
	composes: bottone from './style.module.css';
	background-color: rgb(107, 87, 0);
}

.container {
	composes: container from './style.module.css';
}

.paragrafo {
	composes: paragrafo from './style.module.css';
}

.rispostaMultipla {
	composes: rispostaMultipla from './style.module.css';
	background-color: rgb(107, 87, 0);
}

.rispostaAperta {
	composes: rispostaAperta from './style.module.css';
	background-color: blanchedalmond;
}
