.sfondo {
	background-image: url('./pictures/ClassicoBackground.jpg');

	text-align: center;
	color: white;

	background-size: cover;

	height: 100vh;
	overflow-y: auto;
}

.backMedia {
	background-color: rgb(84, 84, 84);
	background-size: cover;

	display: flex;
	align-items: center;

	border-radius: 15px;
	margin: 1.5rem 5rem;
	padding: 30px;
}

.immagine {
	box-shadow: 0 0 8px 8px slategrey;

	border-radius: 15px;
	margin: auto;

	max-height: 30rem;
	max-width: 35rem;
	width: auto;
	height: auto;
}

.container {
	background-color: rgb(84, 84, 84);

	border-radius: 1rem;
	margin: 1rem 5rem 0rem;
	padding: 1rem;
}

.bottone {
	font-weight: bold;
	font-size: 1.6rem;

	border-radius: 1rem;
	margin: 1rem auto auto;
}

.paragrafo {
	color: white;
	font-size: 1.7rem;
}

.bottonealt {
	color: black;

	font-weight: bold;
	font-size: 1.5rem;

	border-radius: 1rem;
}

.paragrafoalt {
	color: black;
	font-size: 1.6rem;
}

.paragrafoerrore {
	font-size: 1.5rem;
	color: rgb(255, 175, 228);

	margin: 1rem auto auto;
	display: block;
}

.rispostaMultipla {
	background-color: rgb(173, 0, 0);

	font-weight: bold;
	font-size: 1.7rem;
	color: white;

	border-radius: 2rem;
	margin: 0.5rem 10rem;
	padding: 0.5rem;
}

.rispostaAperta {
	font-size: 2rem;

	width: 45rem;

	border-radius: 2rem;
	padding: 0.5rem;
	margin: 0.5rem auto;
}
