@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

#widget {
	background: transparent;
}

/* @media screen and (max-width: 1000px) {
	textarea.papiro {
		margin-top: 50px;
		font-size: 32px;
	}
}
@media screen and (min-width: 1100px) {
	textarea.papiro {
		width: 240px;
		font-size: 40px;
		margin-top: -120px;
		margin-left: -100px;
	 }
}*/

textarea.papiro {
	font-family: 'Dancing Script', cursive;
	border: transparent solid 0px;

	height: 350px;
}

.papiro:focus {
	box-shadow: none !important;
}

.main {
	width: '370px';
	backgroundimage: url('../Pictures/Papiro.png');
	
	backgroundrepeat: 'no-repeat';
	backgroundsize: '100% 100%';
	padding: '12%';
	height: '550px';
	marginleft: 'calc(50% - 185px)';
}
