.sfondo {
    composes: sfondo from "./style.module.css";
    background-image: url("../Pictures/MuseumBackground.jpg");
}

.backMedia {
    composes: backMedia from "./style.module.css";
    background-image: url("../Pictures/MuseumBackground2.jpg");
}

.mediaContent {
    composes: mediaContent from "./style.module.css";
}

.bottone {
    composes: bottone from "./style.module.css";
    background-color: #2e7d32;
}

.container {
    composes: container from "./style.module.css";
}

.paragrafo {
    composes: paragrafo from "./style.module.css";
}

.bottonealt {
    composes: bottonealt from './style.module.css';
}

.paragrafoalt {
    composes: paragrafoalt from './style.module.css';
}

.paragrafoerrore {
    composes: paragrafoerrore from './style.module.css';
}

.rispostaMultipla {
    composes: rispostaMultipla from "./style.module.css";
    background-color: #2e7d32;
}

.rispostaAperta {
    composes: rispostaAperta from "./style.module.css";
    background-color: rgb(201, 255, 184);
}